{{ define "main" }}
<article class="max-w-lg mx-auto pt-4 px-4">
    {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
    {{ $dateHuman := .Date | time.Format ":date_long" }}
    <div class="-mx-2 text-center mb-8">
        <h1>{{ .Title }}</h1>
        <span class="text-gray-500 text-sm">
            Posted <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
        </span>
        </h1>
    </div>
    <div class="text-base">
        {{ .Content }}
    </div>
    <div class="mt-8 mb-4 py-2 border-t border-gray-600 border-opacity-50 text-gray-500 text-sm">
        <div class="py-2">
            <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
        </div>
        {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
    </div>
</article>

{{ end }}