@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply bg-[#161521] text-[#CEDFD9] text-[18px] sm:text-[24px] leading-6;
}

body {
    -webkit-font-smoothing: antialiased;
}

p {
    @apply sm:leading-7;
}

hr {
    @apply border-neutral-700 my-3;
}

h1, h2, h3, h4, h5, h6 {
    @apply text-sky-300/90 text-opacity-95 font-medium leading-snug sm:mt-6 sm:leading-normal tracking-wide;
}

h1 {
    @apply text-3xl sm:mt-8 sm:text-3xl;
}

h2 {
    @apply text-xl sm:text-2xl;
}

h3 {
    @apply text-lg;
}

h4 {
    @apply text-base;
}

h5 {
    @apply text-sm;
}

h6 {
    @apply text-sm uppercase;
}

/* images */

figure {
    @apply p-0.5 my-4 overflow-hidden;
}

figure img {
    @apply block w-auto h-auto rounded-sm mx-auto;
}

figure figcaption {
    @apply text-[0.65rem] text-neutral-400 text-opacity-80 text-center py-1;
}

figure figcaption h4 {
    @apply mx-8 text-xs mb-0;
}

figure figcaption p {
    @apply m-1 leading-normal;
}

article p {
    @apply leading-[32.3px] sm:leading-[43px];
    margin-block-start: 0.4em;
    margin-block-end: 0.8em;
}

article a {
    @apply text-sky-300/90 underline underline-offset-4 hover:text-sky-300;
}

/* lists */
ul,ol {
    @apply my-2 ml-4 pl-4;
}

ol {
    @apply list-decimal;
}

article ul {
    @apply list-disc;
}

article blockquote {
    @apply border-l-4 border-sky-300/90 pl-4 text-gray-400 text-sm;
}

blockquote p {
    @apply leading-normal;
}

/* footnotes */

a.footnote-ref {
    @apply px-0.5 no-underline font-medium;
}

.footnotes ol {
    @apply mt-4 ml-4 list-decimal text-xs;
}

.footnotes ol p {
    @apply leading-normal sm:leading-snug;
    margin-block-end: 0.6rem;
}

/* code blocks */

.highlight {
    @apply mt-4 mb-8 text-xs text-black leading-normal;
}

.highlight pre {
    @apply p-2 overflow-scroll;
}

code {
    @apply font-mono bg-yellow-950/20 text-orange-300/90 rounded-sm px-1 text-[0.72rem];
}

