{{- /*
For a given taxonomy, renders a list of terms assigned to the page.

@context {page} page The current page.
@context {string} taxonomy The taxonony.

@example: {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
*/}}

{{- $page := .page }}
{{- $taxonomy := .taxonomy }}

{{- with $page.GetTerms $taxonomy }}
  {{- $label := (index . 0).Parent.LinkTitle }}
  <div class="flex space-x-2 items-center">
    <div>{{ $label }}:</div>
    <ul class="flex space-x-2">
      {{- range . }}
      <li class="inline-flex items-center rounded-full bg-blue-950 px-2 py-1 text-xs font-medium text-blue-300/90 ring-1 ring-inset ring-blue-300/10">
        <a href="{{ .RelPermalink }}" class="no-underline">{{ .LinkTitle }}</a>
      </li>
     {{- end }}
    </ul>
  </div>
{{- end }}
